name: DEV - Build

on:
  pull_request:
    branches:
      - dev

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 20
      - name: Install Packages
        run: yarn install
        working-directory: my-react-app
      - name: Build project
        run: yarn build
        working-directory: my-react-app
